// Importing global styling
@import "./global/functions";
@import "./global/mixins";
@import "./global/variables";
#Home {
    height: 100%;
    width: 100%;
    display: flex;
    button {
        width: 200px;
        height: 100px;
    }
    #peopleList {
        width: 300px;
    }
}