#Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    #jumbo {
        width: 100%;
        height: 50vh;
        #text {
            display: flex;
            @media (max-width: 600px) {
                justify-content: center;
                align-items: center;
                flex-direction: column;
                text-align: center;
                #jumbo-logo {
                    position: relative;
                    left: 0px;
                    top: 0px;
                }
            }
        }
        #jumbo-logo {
            position: relative;
            left: 20px;
            top: 4px;
        }
    }
    h1 {
        font-size: 60px;
    }
    p {}
    #description {
        position: relative;
        top: 5%;
        //
        width: 85%;
        //
        text-align: center;
        font-style: italic;
        color: white;
    }
}