.marker {
    position: relative;
    left: -50%;
    //
    display: flex;
    flex-direction: column;
    align-items: center;
    //
    width: 200px;
    //
    .comment-popup {
        position: relative;
        //
        display: flex;
        justify-content: center;
        align-items: center;
        //
        width: 200px;
        height: min-content;
        padding: 10px;
        //
        top: -250px;
        //
        background: white;
        box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
        //
        p {
            margin: 0;
            //
            text-align: center;
            //
            background: white;
        }
        //
        @media (max-width: 600px) {
            width: 50vw;
        }
    }
}