#SightingsList {
    display: flex;
    flex-direction: column;
    //
    max-width: 250px;
    @media (max-width: 600px) {
        max-width: 100%;
    }
    margin: 0;
    padding: 0;
    //
    border-radius: 10px;
    #sightings-container {
        height: 100%;
        //
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        //
        overflow-y: scroll;
        scroll-behavior: smooth;
        @media (max-width: 600px) {
            overflow-y: visible;
        }
        //
        border-bottom: 1px solid rgb(117, 117, 117);
        border-left: 1px solid rgb(117, 117, 117);
        border-right: 1px solid rgb(117, 117, 117);
        padding: 5px;
        background: rgb(98, 110, 117);
    }
}