#SightingCard {
    width: 100%;
    min-width: 150px;
    //
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //
    margin-top: 10px;
    border: solid 5px $c3;
    border-radius: 40px;
    //
    background: $c3-light;
    opacity: 0.6;
    box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.4);
    //
    #date {
        font-weight: 600;
    }
    //
    p {
        margin: 0;
        max-width: 100%;
        word-wrap: break-word;
    }
}