@import "./global/functions";
@import "./global/variables";
@import "./global/mixins";
//
@import "./components/About";
@import "./components/Home";
@import "./components/Login";
@import "./components/Nav";
@import "./components/Sighting";
@import "./components/SightingList";
@import "./components/ListSettings";
@import "./components/SightingCard";
@import "./components/Sightings";
//
html,
body,
#root {
    height: 100%;
    width: 100%;
    background: $c4;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#Sightings,
#About,
#Home {
    margin-top: 70px;
}